.ant-radio-button-wrapper::after .antd-wave-shadow-color  {

color: rgb(46, 195, 171) !important;

}

.ant-steps-item-process .ant-steps-item-icon {

background-color: #2EC3AB !important;

}

.ant-steps-item-process .ant-steps-item-icon { background: #2EC3AB; }