

.ant-steps-item-process .ant-steps-item-icon {

background-color: #2EC3AB !important;

}

.ant-steps-item-process .ant-steps-item-icon { background: #2EC3AB; border-color: #2EC3AB }

.ant-radio-button-wrapper-checked:hover { border-color: #2EC3AB }
.ant-radio-button-wrapper-checked {color:#2EC3AB; border-color: #2EC3AB }
.ant-radio-button-wrapper-checked:first-child { border-color: #2EC3AB }
.ant-radio-button-wrapper:hover { color: #2EC3AB }
.ant-steps-item-finish .ant-steps-item-icon {border-color: #2EC3AB}
.anticon svg {color: #2EC3AB}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {background: #2EC3AB}
.ant-input:hover {border-color: #2EC3AB}