html {
    font-family: 'Roboto';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

body.fontLoaded {
    font-family: 'Roboto'
}

@font-face {
    font-family: dinfont;
    src: url("/static/fonts/alte-din-1451-mittelschrift/din1451alt.ttf");
}

.logo {
    font-family: dinfont;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
}

#app {
    min-height: 100%;
    min-width: 100%;
}

p,
label {
    line-height: 1.5em;
}

.box-middle-title {
    text-align: left;
    font-size: 15px;
}

.box-middle-text {
    text-align: left;
    font-size: 15px;
}

.how-it-work-title {
    font-weight: bold;
    color: #37405E;
    margin-bottom: 5%;
}

.how-it-works-box {
    box-shadow: 1px 1px 4px 1px #2ec3ab
}

.chair-tablet-image {
    margin-top: 20%;
    margin-left: 34%;
}

.footer-description-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.searchpost::-webkit-input-placeholder {
    color: #145252;
}

/* WebKit, Blink, Edge */
.searchpost:-moz-placeholder {
    color: #145252;
}

/* Mozilla Firefox 4 to 18 */
.searchpost::-moz-placeholder {
    color: #145252;
}

/* Mozilla Firefox 19+ */
.searchpost:-ms-input-placeholder {
    color: #145252;
}

/* Internet Explorer 10-11 */
.searchpost::-ms-input-placeholder {
    color: #145252;
}

/* Microsoft Edge */

.footer-list {
    background-color: transparent;
    color: #FFF;
    font-size: 12px;
    line-height: 2
}

.footer-list a {
    color: #FFF;
}

.copyright {
    font-size: 10px;
    margin-right: 20px;
}

.vbr-button {
    background-color: rgb(46, 195, 171);
    border-color: rgb(46, 195, 171);
}

.middle-description-text {
    font-size: 13px;
    text-align: justify;
}

.middle-description-text p {
    margin-bottom: 0.5rem;
}

.play-icon-color {
    color: rgb(46, 195, 171);
}

.small-icon-button {
    display: inline;
    position: absolute;
    left: 0px;
    top: 5px;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
    color: #2ec3ab !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #2ec3ab !important;
    border-bottom: 2px solid #2ec3ab !important;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
    color: #2ec3ab !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: #2ec3ab !important;
}

.checkbox-lh {
    line-height: 3.5 !important;
}

.ant-menu-item {
    vertical-align: middle !important;
}

.text-center {
    text-align: center
}

.sub-menu {
    list-style: none
}

.ant-card-meta-title {
    text-overflow: unset !important;
    white-space: normal !important;
    padding: 1px !important
}

.ant-list-vertical .ant-list-item-meta {
    margin-bottom: 10px;
}

.ant-list-item-meta-description {
    font-size: 12px !important;
}

.ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 0px !important;
}

.ant-list-vertical .ant-list-item-meta-title {
    text-align: left;
}

.ant-list-vertical .ant-list-item-action {
    background: #2ec3ab0f;
    border-radius: 4px;
    padding: 5px;
}

.zammad-chat-header {
    background: #2ec3ab !important;
    height: 3.5em !important;
}

.menu-item {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 17px;
    text-align: left;
    color: #FFF;
}

.logo-box {
    padding: 35px;
}

.auth-button {
    border: 1px solid #87C6C1;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    color: #FFFFFF !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
}

.stay-up-to-date {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}


.email-input {
    border: 1px solid #87C6C1 !important;
    border-radius: 10px !important;
    box-shadow: -5px 10px 30px 0 rgba(0, 96, 94, 0.25) !important;
    height: 70px !important;
    width: 100%;
    background: transparent !important;
}

.email-input::placeholder {
    color: orange;
}

.btn-style {
    color: #008D7F !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-align: center !important;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3);
    height: 70px !important;
    width: 100%;
}

.vbr-btn-style {
    background-color: #008D7F !important;
    border-radius: 10px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
    height: 60px !important;
    width: 260px !important;
}

.vbr-btn-style span {
    color: #FFF;
    font-weight: bold;
}


.coming-soon {
    color: #FDF81F;
    font-size: 38px;
    font-weight: bold;
    text-align: left;
}

.find-the-job-you-lov {
    font-size: 38px;
    color: #3c3c3c;
    font-weight: 700;
}

.choose-from-a-vast-p {
    color: #3c3c3c;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
}

.categories-image {
    margin: 10px;
}

.polaroid {
    margin-bottom: 25px;
}

.categories-title {
    color: #3c3c3c;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}

.categories-title span {
    color: #202C39;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.why-veelancing {
    color: #3B3D47;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.we-are-a-decentraliz {
    color: #202C39;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.communicate-directly {
    color: #202C39;
    font-size: 21px;
    font-weight: 700;
    text-align: left;
}

.home-paragraph-1 p {
    color: #202C39;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.hiw-vbr-btn {
    background-color: #008D7F;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3);
    width: 260px;
    height: 60px;
}

.investors-img {
    width: 1440px;
    height: 580px;
    margin-left: 11%;
    position: relative;
}

.investors-title {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
}

.investors-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color:#FFF !important;
}


.investors-text-box {
    position: absolute;
    top: 1px;
    left: 7%;
    padding: 5%;
}

.join-freelancer-title {
    color: #3B3D47;
    font-size: 38px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 35px;
}

.join-freelancer-text {
    color: #202C39;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.join-freelancer-box {
    margin-top: 50px;
}

.launch-time-text {
    color: #3B3D47;
    font-size: 38px;
    font-weight: 700;
    text-align: center !important;
}

.launch-time-input {
    background-color: #FFFFFF;
    border: 1px solid #B1B1B5;
    border-radius: 10px;
    box-shadow: -5px 10px 30px 0 rgba(0, 96, 94, 0.25);
    height: 60px !important;
}

.home-privacy-policy-text {
    color: #3B3D47 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    text-align: center !important;
    margin-top: 2% !important;
}

.rectangle {
    background-image: linear-gradient(225deg, #20A3CA 0%, #008D7F 100%);
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3);
}

.invest-in-the-first {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 60px;
    width: 660px;
    text-align: left;
    margin-left: 55px;
    text-transform: none;
}

  .stay-up-to-date-and {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 600px;
    text-align: left;
    margin-left: 55px;
}

  .stay-up-to-date-and-box {
    position: absolute;
  }

.count-down {
    shape-rendering: geometricPrecision;
    background-color:
            #1AB0C48F;
    border-radius: 10px;
    height: 275px;
    width: 82%;
}

.initial-coin-offering {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 15px;
    font-weight: 900;
    opacity: 100%;
}

.example-input .ant-input {
    width: 250px;
    margin: 0 10px 10px 0;
    background: transparent;
    margin-left: 55px;
}

.no-spam {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 14px;
    margin-left: 95px;
}


.no-spam-box {
  position: absolute;
}


 .get-notified {
   color: #008D7F !important;
   font-size: 15px !important;
   text-align: center !important;
   background-color: #FFFFFF;
   border-radius: 7px !important;
   box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
   height: 43px !important;
   width: 180px !important;
  }

  .veelancing-is-a-dece {
    color: #202C39;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-left: 5px;
}

.veelancing-is-a-dece-box {
  position: absolute;
}


.rectangle-copy {
   margin-top:110px;
   margin-bottom:100px;
   background-color: #DEEEED;
   padding: 80px;
}

@media(max-width: 815px) {
  .rectangle-copy {
    margin-top:110px;
    margin-bottom:100px;
    background-color: #DEEEED;
    padding: 20px;
 }
}

.the-problem {
    color: #3B3D47;
    font-size: 38px !important;
    font-weight: 700;
    width: 480px;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 5px;
  }

.the-solution {
  color: #3B3D47;
  font-size: 38px !important;
  font-weight: 700 !important;
  width: 480px !important;
  text-align: left !important;
  margin-bottom: 15px !important;
  margin-left: 5px !important;
}

@media(max-width: 650px) {
  .the-solution {
    margin-top: 30px;
  }
}

.geometric-particles {
    position: relative;
    margin-left: -115px;
}

.coins {
    position: absolute !important;
    width: 260px;
    height: 395px;
    margin-top: -475px !important;
    box-shadow: 0 5px 50px 0 rgba(112, 112, 112, 0.637);
}

.photographs-are-a-wa {
    color: #202C39 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-align: left;
    margin-left: 10px;
}

.photographs-are-a-wa-box {
  position: absolute;
  padding: 5% !important;
}

.the-blockchain-techn {
    color: #202C39 !important;
    font-size: 38px;
    font-weight: 700;
    margin-left: 10px;
}

  .technology-images {
  border: 1px solid #EBEBEC;
  border-radius: 10px;
  width: 180px;
  height: 120px;
  }

  @media(max-width: 815px) {
    .technology-images {
      margin-left: 85px;
      }
  }

.geometric-particles2 {
    color: #87C6C1;
    height: 500px;
}

.home-investors-box {
    margin-top: 110px;
    margin-bottom: 100px;
    background: linear-gradient(225.57deg, #008D7F 0%, #00237C 100%);
    border-radius: 10px;
    padding: 60px;
}

.mt35 {
    margin-top: 35px;
}

.polaroid-image {
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.15) !important;
}

.well-let-you-know-w {
    color: #3B3D47;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.item-f {
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    line-height: 17px !important;
    text-align: left !important;
}

.menu-padding {
    background: white;
    padding-bottom: 35px;
}

.loading-start {
    position: absolute;
    width: 150px;
    height: 100px;
    z-Index: 15;
    top: 50%;
    left: 50%;
}

.img-responsive {
    width: 100%;
    height: auto;
}


@media (max-width: 415px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }

    .logo-img {
        text-align: center;
    }
}

.category-box {
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .menu-item {
        font-size: 12px !important;
        font-weight: bold !important;
        letter-spacing: 0.1px !important;
    }

    .a-blockchain-marketp .big {
        font-size: 43px !important;
    }
}

@media(max-width: 815px) {
  .invest-in-the-first {
    margin-left: 1px;
    font-size: 28px;
    line-height: 40px;
  }
 }

 @media only screen and (max-width: 1024px) {
  .invest-in-the-first {
    margin-left: 5px;
    font-size: 28px;
    line-height: 40px;
  }
 }
 
 @media(max-width:815px) {
      .stay-up-to-date-and {
        margin-left: 1px;
        display: inline !important;
        text-align: center;
      }


 }

 @media(max-width:1024px) {
  .stay-up-to-date-and {
    margin-left: 1px;
    display: inline !important;
    text-align: left;
  }
 }

 @media(max-width:1024px) {
 .example-input .ant-input {
  width: 250px;
  margin: 0 10px 10px 0;
  background: transparent;
  margin-left: 20px;
 }
} 

 @media(max-width:815px){
 .ico-email-reg {
   margin-left: 25px !important;
   margin-top: 20px !important;
 }
}

@media(max-width:1024px) {
  .get-notified {
    margin-left: 90px; 
   }
}

@media(max-width:1024px) {
  .count-down {
    width: 350px;
    height: 250px;
    margin-left: 10px;
  }
}

@media(max-width:815px) {
  .tech-particles {
    margin-right: 20px;
    
  }
}

.our-journey {
  color: #202C39 !important;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

@media(max-width:815px) {
    .our-journey {
    text-align: left;
    margin-left: 60px
 }
}

.timeline-images {
  margin-left: 15px;
  margin-top: 8px;
}

.timeline-images2 {
  margin-left: 10px;
  margin-top: 13px;
}

.timeline-images3 {
  margin-left: 13px;
  margin-top: 8px;
}

.the-team-name {
  color: #3c3c3c;
  text-align: left;
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}
.the-team-title {
  color: #3c3c3c;
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
  padding: 5px;
}

.the-team-images {
  border: 1px solid #EBEBEC !important;
  border-radius: 10px !important;
  width: 180px !important;
  height: 250px !important;
}

.the-team {
  color: #202C39 !important;
  font-size: 38px;
  font-weight: 700;
  margin-left: 10px;
}

.the-team-text {
  color: #202C39 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-align: left;
  margin-left: 10px;
}

.the-team-box {
  padding-top: 90px !important;
}

.our-partners-box {
    padding-top: 90px !important;
}

.our-partners-title {
    color: #202C39 !important;
    font-size: 38px;
    font-weight: 700;
    margin-left: 10px;
  }
 
.our-partners-images {
    border-radius: 10px !important;
    width: 180px !important;
    height: 250px !important;
    box-shadow: 0 15px 30px 0 rgba(34, 34, 34, 0.534);
}

.initial-coin {
    color: #202C39 !important;
    font-size: 38px;
    font-weight: 700;
    width: 700px;
    text-align: center;
    margin-top: 110px;
  }

  .example-input-bot .ant-input {
    width: 300px;
    margin: 0 10px 10px 0;
    background: transparent;
}

.rectangle2 {
    margin-top:110px;
    background-color: #DEEEED;
    padding: 30px;
    text-align: center;
 }

 .want-to-hear-more {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
 }

.emoji-picker-react {
    width:100% !important;
    height:200px !important;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #3e3e3e;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}


.go-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.scroll {
    opacity: 0.3;
    background-color: aqua;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
}

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
}

/*MEDIA QUERIES*/

@media(max-width:1200px) {
    .no-spam {
        margin-top: 5px;
        text-align: center !important;
        margin-left: 1px;
    }
    .a-blockchain-marketp .big {
        font-size: 34px;
    }
    .intro-text {
        margin-top: 30px !important;
    }
}
