html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Roboto';
  }


  body.fontLoaded {
    font-family:'Roboto'
  }

    @font-face {
        font-family: dinfont;
        src: url("/static/fonts/alte-din-1451-mittelschrift/din1451alt.ttf");
    }

.logo {
    font-family: dinfont;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
}

  #app {
    min-height: 100%;
    min-width: 100%;
  }

  p,
  label {
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
  }

  .box-middle-title {
    text-align:left;
    font-size:15px;
  }
  .box-middle-text{
    text-align:left;
    font-size:15px;
  }
  .how-it-work-title {
    font-weight:bold;
    color:#37405E;
    margin-bottom:5%;
  }

  .how-it-works-box {
    box-shadow:1px 1px 4px 1px #2ec3ab
  }
  .chair-tablet-image{
    margin-top:20%;
    margin-left: 34%;
  }

  .footer-description-title {
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
    }

    .searchpost::-webkit-input-placeholder { color: #145252; } /* WebKit, Blink, Edge */
    .searchpost:-moz-placeholder { color: #145252; } /* Mozilla Firefox 4 to 18 */
    .searchpost::-moz-placeholder { color: #145252; } /* Mozilla Firefox 19+ */
    .searchpost:-ms-input-placeholder { color: #145252; } /* Internet Explorer 10-11 */
    .searchpost::-ms-input-placeholder { color:#145252; } /* Microsoft Edge */

    .footer-list {
      background-color:transparent;
      color:#FFF;
      font-size:12px;
      line-height:2
    }

    .footer-list a  {
      color:#FFF;
    }

    .copyright {
      font-size:10px;
    }

    .vbr-button {
      background-color: rgb(46, 195, 171);
      border-color: rgb(46, 195, 171);
    }
    .middle-description-text {
      font-size:13px;
      text-align:justify;
    }

    .middle-description-text p {
      margin-bottom: 0.5rem;
    }
    
    .play-icon-color {
        color:rgb(46, 195, 171);
    }

    .small-icon-button {
      display: inline;
      position: absolute;
      left: 0px;
      top: 5px;
    }

    #login-dp{
      min-width: 250px;
      padding: 14px 14px 0;
      overflow:hidden;
      background-color:rgba(255,255,255,.8);
  }
  #login-dp .help-block{
      font-size:12px    
  }
  #login-dp .bottom{
      background-color:rgba(255,255,255,.8);
      border-top:1px solid #ddd;
      clear:both;
      padding:14px;
  }
  #login-dp .social-buttons{
      margin:12px 0    
  }
  #login-dp .social-buttons a{
      width: 49%;
  }
  #login-dp .form-group {
      margin-bottom: 10px;
  }
  .btn-fb{
      color: #fff;
      background-color:#3b5998;
  }
  .btn-fb:hover{
      color: #fff;
      background-color:#496ebc 
  }
  .btn-tw{
      color: #fff;
      background-color:#55acee;
  }
  .btn-tw:hover{
      color: #fff;
      background-color:#59b5fa;
  }
  @media(max-width:768px){
      #login-dp{
          background-color: inherit;
          color: #fff;
      }
      #login-dp .bottom{
          background-color: inherit;
          border-top:0 none;
      }

      .logo-img {
          text-align: center;
      }
      
      
  }

  .ant-menu-horizontal > .ant-menu-item-selected > a {
    color: #2ec3ab !important;
  }

  .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #2ec3ab !important;
    border-bottom: 2px solid #2ec3ab !important;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #2ec3ab !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: #2ec3ab !important;
}

.checkbox-lh {
  line-height: 3.5 !important;
}

.text-center {text-align: center}

.sub-menu {list-style: none}

.ant-card-meta-title{text-overflow: unset!important; white-space: normal!important; padding: 1px !important}

.ant-list-vertical .ant-list-item-meta {
    margin-bottom: 10px;
}
.ant-list-item-meta-description {
    font-size: 12px !important;
}

.ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 0px !important;
}

.ant-list-vertical .ant-list-item-meta-title {
    text-align: left;
}

.ant-list-vertical .ant-list-item-action {
    background: #2ec3ab0f;
    border-radius: 4px;
    padding: 5px;
}

.zammad-chat-header {
    background: #2ec3ab !important;
    height: 3.5em !important;
}

.menu-item {
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 0.5px !important;
    line-height: 17px !important;
    text-align: left !important;
}
.intro-text {
    padding:100px;
}

.logo-box {
    padding: 35px;
}

.auth-button {
    border: 1px solid #87C6C1;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    color: #FFFFFF !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
}

.stay-up-to-date {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}


.email-input {
    border: 1px solid #87C6C1 !important;
    border-radius: 10px !important;
    box-shadow: -5px 10px 30px 0 rgba(0, 96, 94, 0.25) !important;
    height: 70px !important;
    width:100%;
    background: transparent !important;
}

.email-input::placeholder {
    color: orange;
}

.btn-style {
    color: #008D7F !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-align: center !important;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3);
    height: 70px !important;
    width:100%;
}

.vbr-btn-style {
    background-color: #008D7F !important;
    border-radius: 10px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
    height: 60px !important;
    width: 260px !important;
}

.vbr-btn-style span{
    color:#FFF;
    font-weight: bold;
}



.coming-soon {
    color: #FDF81F;
    font-size: 38px;
    font-weight: bold;
    line-height: 46px;
    text-align: left;
}

.find-the-job-you-lov {
    color: #3B3D47;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    width: 420px;
    text-align: left;
}

.choose-from-a-vast-p {
    color: #3B3D47;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    width: 420px;
    text-align: left;
}

.categories-image {
    margin:10px;
    border-radius:10px
}

.categories-title {

    text-align: center;
}
.categories-title span {
    color: #202C39;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.why-veelancing {
    color: #3B3D47;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
}
.we-are-a-decentraliz {
    color: #202C39;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.communicate-directly {
    color: #202C39;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    width: 240px;
    text-align: left;
}

.home-paragraph-1 {
    color: #202C39;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 240px;
    text-align: left;
}

.hiw-vbr-btn {
    background-color: #008D7F;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3);
    width: 260px;
    height: 60px;
}

.investors-img {
    width: 1440px;
    height: 580px;
    margin-left: 11%;
    position: relative;


}

.investors-title {
    color: #3B3D47;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    width: 600px;
    text-align: left;
}

.investors-text {
    color: #202C39;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 600px;
    text-align: left;
}

.investors-text-box {
    position: absolute;
    top: 1px;
    left: 7%;
    padding: 5%;

}

.join-freelancer-title {
    color: #3B3D47;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    width: 420px;
    text-align: left;
}

.join-freelancer-text {
    color: #202C39;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 420px;
    text-align: left;
}

.join-freelancer-box{
    margin-top: 10%;
}

.launch-time-text {
    color: #3B3D47;
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    text-align: center !important;
}

.launch-time-input {
    background-color: #FFFFFF;
    border: 1px solid #B1B1B5;
    border-radius: 10px;
    box-shadow: -5px 10px 30px 0 rgba(0, 96, 94, 0.25);
    width: 330px !important;
    height: 60px !important;
}

.home-privacy-policy-text {

    color: #3B3D47 !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    width: 249px !important;
    text-align: center !important;
    margin-top: 2% !important;
    margin-left: 44%;
}

.rectangle {
    background-image: linear-gradient(225deg, #20A3CA 0%, #008D7F 100%);
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3);
}

.invest-in-the-first {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 40px;
    width: 660px;
    text-align: left;
    margin-left: 85px;
  }
  .stay-up-to-date-and {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 600px;
    text-align: left;
    margin-left: 85px;
  }

  .count-down {
    shape-rendering: geometricPrecision;
    background-color: #3B3D47;
    border-radius: 10px;
    opacity: 0.1000000014901161;
    width: 480px;
    height: 280px;
  }

  .initial-coin-offering {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;
    opacity: 100%;
  }

  .example-input .ant-input {
    width: 300px;
    margin: 0 10px 10px 0;
    background: transparent;
    margin-left: 90px;
  }

 .no-spam {
    color: #FFFFFF;
    font-family: dinfont;
    font-size: 14px;
    margin-left: 95px;
 }

 .get-notified {
   color: #008D7F !important;
   font-size: 15px !important;
   text-align: center !important;
   background-color: #FFFFFF;
   border-radius: 7px !important;
   box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
   height: 43px !important;
   width: 180px !important;
  }

  .veelancing-is-a-dece {
    color: #202C39 !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    width: 600px !important;
    text-align: left !important;
  }

  .rectangle-copy {
    background-color: #DEEEED !important;
    width: 1400px !important;
    height: 600px !important;
    margin-left: 35px !important;
  }

  .the-problem {
    color: #3B3D47;
    font-size: 38px !important;
    font-weight: 700;
    line-height: 46px;
    width: 480px;
    text-align: left;
  }