html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Roboto';
  }

  body.fontLoaded {
    font-family:'Roboto'
  }

  #app {
    min-height: 100%;
    min-width: 100%;
  }

  p,
  label {
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
  }

  .box-middle-title {
    text-align:left;
    font-size:15px;
  }
  .box-middle-text{
    text-align:left;
    font-size:15px;
  }
  .how-it-work-title {
    font-weight:bold;
    color:#37405E;
    margin-bottom:5%;
  }

  .how-it-works-box {
    box-shadow:1px 1px 4px 1px #2ec3ab
  }
  .chair-tablet-image{
    margin-top:20%;
    margin-left: 34%;
  }

  .footer-description-title {
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
    }

    .searchpost::-webkit-input-placeholder { color: #145252; } /* WebKit, Blink, Edge */
    .searchpost:-moz-placeholder { color: #145252; } /* Mozilla Firefox 4 to 18 */
    .searchpost::-moz-placeholder { color: #145252; } /* Mozilla Firefox 19+ */
    .searchpost:-ms-input-placeholder { color: #145252; } /* Internet Explorer 10-11 */
    .searchpost::-ms-input-placeholder { color:#145252; } /* Microsoft Edge */

    .footer-list {
      background-color:transparent;
      color:#FFF;
      font-size:12px;
      line-height:2
    }

    .footer-list a  {
      color:#FFF;
    }

    .copyright {
      font-size:10px;
    }

    .vbr-button {
      background-color: rgb(46, 195, 171);
      border-color: rgb(46, 195, 171);
    }
    .middle-description-text {
      font-size:13px;
      text-align:justify;
    }

    .middle-description-text p {
      margin-bottom: 0.5rem;
    }
    
    .play-icon-color {
        color:rgb(46, 195, 171);
    }

    .small-icon-button {
      display: inline;
      position: absolute;
      left: 0px;
      top: 5px;
    }

    #login-dp{
      min-width: 250px;
      padding: 14px 14px 0;
      overflow:hidden;
      background-color:rgba(255,255,255,.8);
  }
  #login-dp .help-block{
      font-size:12px    
  }
  #login-dp .bottom{
      background-color:rgba(255,255,255,.8);
      border-top:1px solid #ddd;
      clear:both;
      padding:14px;
  }
  #login-dp .social-buttons{
      margin:12px 0    
  }
  #login-dp .social-buttons a{
      width: 49%;
  }
  #login-dp .form-group {
      margin-bottom: 10px;
  }
  .btn-fb{
      color: #fff;
      background-color:#3b5998;
  }
  .btn-fb:hover{
      color: #fff;
      background-color:#496ebc 
  }
  .btn-tw{
      color: #fff;
      background-color:#55acee;
  }
  .btn-tw:hover{
      color: #fff;
      background-color:#59b5fa;
  }
  @media(max-width:768px){
      #login-dp{
          background-color: inherit;
          color: #fff;
      }
      #login-dp .bottom{
          background-color: inherit;
          border-top:0 none;
      }

      .logo-img {
          text-align: center;
      }
      
      
  }

  .ant-menu-horizontal > .ant-menu-item-selected > a {
    color: #2ec3ab !important;
  }

  .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #2ec3ab !important;
    border-bottom: 2px solid #2ec3ab !important;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #2ec3ab !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: #2ec3ab !important;
}

.checkbox-lh {
  line-height: 3.5 !important;
}

.text-center {text-align: center}

.sub-menu {list-style: none}

.ant-card-meta-title{text-overflow: unset!important; white-space: normal!important; padding: 1px !important}

.ant-list-vertical .ant-list-item-meta {
    margin-bottom: 10px;
}
.ant-list-item-meta-description {
    font-size: 12px !important;
}

.ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 0px !important;
}

.ant-list-vertical .ant-list-item-meta-title {
    text-align: left;
}

.ant-list-vertical .ant-list-item-action {
    background: #2ec3ab0f;
    border-radius: 4px;
    padding: 5px;
}

.zammad-chat-header {
    background: #2ec3ab !important;
    height: 3.5em !important;
}