.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    color: rgb(46, 195, 171);
    padding-left: 48px;
}

.ant-btn-primary {
    border-color: #2ec3ab;
    background-color: #2ec3ab;
}

.ant-layout-sider-zero-width-trigger{
    z-index: 99;
}

.wallet-tabs {
    color: rgba(27,153,139,1) ;
    border-color: rgba(27,153,139,1);
}

.ant-tabs-ink-bar {
    background: rgba(27,153,139,1)!important;
}

.statistic-balance {
    margin-top: 15%;
}

.wallet-statistic-1 {
    background: rgba(255,111,89,1);
    padding: 20px;

}

.wallet-text {
    margin-top: 5%;
}
