.slogan {
    font-weight: bold;
    color: #FFF;
    font-size: 25px;
}

.small-promo-text {
    width: 209px;
    color: #e6f7ff;
    opacity: 0.7;
    font-size: 12px;
    margin-top: 20%;
    float: right;
    text-align: right;
}

.subtext-css {
    color: #e6f7ff;
    font-family: 'Helvetica';
    font-size: 16px;
    padding-top: 10px;
}

.home-section {
    margin: 3em auto;
}

@media (min-width: 700px) {
    .post-job-btn {
        margin-top: 10px;
    }
}

.footer-box {
    justify-content: space-between;
    padding: 3em 0;
    border-top: 1px solid #666;
}

.home-carousel {
    text-align: center;
    height: 390px;
    line-height: 220px;
    width: 100%;
    background: #FFF;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
    
  }

  .ant-carousel .slick-slide img {display: inline}

  .intro-text {
        margin-top: 35px;
        padding:10px;
        margin-bottom:50px;
  }

.intro-text-job {
    margin-top: 50px;
    padding:10px;
    margin-bottom:50px;
    text-align: center;
  }
 
  .image {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.h2-absolute {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.h2-absolute > span {
    color: rgb(255, 255, 255);
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgba(0, 39, 36, 0.49);
    padding: 10px;
}

.h2-absolute > span.spacer {
    padding: 0 2px;
    background: none;
}

.background-header {
    background-image: linear-gradient(225deg, #20A3CA 0%, #008D7F 100%);
    position:relative
}

.a-blockchain-marketp {
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 60px;
    text-align: left;
    margin-top:20px;
}
.a-blockchain-marketp .big {
    font-size: 50px;
}

.a-blockchain-marketp .mid {
    font-size: 20px;
}


