.slogan {
    font-weight: bold;
    color: #37405e;
}

.small-promo-text {
    width: 209px;
    color: #37405e;
    opacity: 0.7;
    font-size: 12px;
    margin-top: 68px;
    float: right;
    text-align: right;
}

.subtext-css {
    color: #37405e;
    font-family: 'Helvetica';
    font-size: 14px;
    padding-top: 10px;
}

.home-section {
    margin: 3em auto;
}

@media (min-width: 700px) {
    .post-job-btn {
        margin-right: -30px;
        margin-left: 50px;
    }
}

.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 3em 0;
    border-top: 1px solid #666;
}