.slogan {
    font-weight: bold;
    color: #FFF;
    font-size: 25px;
}

.small-promo-text {
    width: 209px;
    color: #e6f7ff;
    opacity: 0.7;
    font-size: 12px;
    margin-top: 45%;
    float: right;
    text-align: right;
}

.subtext-css {
    color: #e6f7ff;
    font-family: 'Helvetica';
    font-size: 14px;
    padding-top: 10px;
}

.home-section {
    margin: 3em auto;
}

@media (min-width: 700px) {
    .post-job-btn {
        margin-left: 30px;
        margin-top: 10px;
    }
}

.footer-box {
    justify-content: space-between;
    padding: 3em 0;
    border-top: 1px solid #666;
}

.home-carousel {
    text-align: center;
    height: 490px;
    line-height: 490px;
    width: 100%;
    background: #FFF;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
    
  }

  .ant-carousel .slick-slide img {display: inline}

  .intro-text {
    margin-top: 35px;
  }
 
  .image {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.h2-absolute {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.h2-absolute > span {
    color: rgb(255, 255, 255);
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgba(0, 39, 36, 0.49);
    padding: 10px;
}

.h2-absolute > span.spacer {
    padding: 0 2px;
    background: none;
}