.contact-form {line-height: 35px; margin: 15px}
.ant-carousel .slick-slide img {display: inherit }
.trans-meta {position: relative !important; color: #FFF !important; text-align: center !important}
.trans-card {position: relative !important; color: #FFF !important; text-align: center !important; margin-top: 9% !important; width: 240 !important}
.trans-card-title {color: #FFF !important; border-radius: 2px !important}
.road-map-card {color: rgb(110, 61, 145) !important }
