.ant-layout-content {background: '#2EC3AB'}


.contact-form {line-height: 35px; margin: 15px}


.ant-carousel .slick-slide img {display: inherit }

.trans-meta {position: relative; color: #FFF; text-align: center}

.trans-card {position: relative; color: #FFF; text-align: center; margin-top: 9%; }

.trans-card-title {color: #FFF; border-radius: 2px}