.kyc-form-footer {
    text-align: center;
}

.kyc-form-btn {
    text-align: center;
    
    
}

.kyc-upload-btn {
    background-color: #008D7F !important;
    color: #FFF;
    border-radius: 10px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
    width: 260px !important;
    height: 60px !important;
}

.kyc-upload-btn-sub {
    background-color: #008D7F !important;
    color: #FFF;
    border-radius: 10px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
    width: 260px !important;
    height: 60px !important;
    margin-left:50px;
}

.kyc-input {
    background-color: #FFFFFF !important;
    border: 1px solid #B1B1B5 !important;
    border-radius: 10px !important;
    box-shadow: -5px 10px 30px 0 rgba(0, 96, 94, 0.25) !important;
    height: 60px !important;
}

.smart-contract-btn {
    background-color: rgba(0, 141, 127, 0.055) !important;
    border-radius: 10px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
    height: 60px !important;
    width: 260px !important;
    color: #FFFFFF;
}

.smart-contract-container {
    background-image: linear-gradient(225.57deg, #008D7F 0%, #00237C 100%);
}

.smart-contract-label {
    color: #FFFFFF;
}

.smart-contract-submit {

    background-color: #262A3B !important;
    border-radius: 10px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 96, 94, 0.3) !important;
    width: 240px !important;
    height: 60px !important;
    color: #FFFFFF !important;
    font-family: Roboto !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-align: center !important;
}

.smart-contract-text {
    color: #FFFFFF !important;
}
.smart-contract-milestone{
    color: #FFFFFF !important;
}